/* -------------------------------------------------------------------------- */
/*                                 About page                                 */
/* -------------------------------------------------------------------------- */

.aboutpage {
  .about {
    &_section {
      margin-top: 90px;
      padding-top: 100px;

      &:first-child {
        margin-top: -106px;
        padding-top: 100px;
      }

      @include maxW(1023px) {
        margin-top: 102px;
        padding-top: 0;

        &:first-child {
          margin-top: 102px;
          padding-top: 0;
        }
      }
    }

    &_title {
      font-family: $neue-fonts;
      font-weight: 500;
      font-size: 6.6rem;
      text-transform: uppercase;
      letter-spacing: -1.5px;
      margin-bottom: 65px;

      @include maxW(1023px) {
        font-size: 2.9rem;
        letter-spacing: -0.8px;
        margin-bottom: 40px;
      }
    }

    &_content {
      p {
        font-size: 1.6rem;
        line-height: 1.45;
        letter-spacing: 0;
        margin-bottom: 18px;
        font-feature-settings: "palt" 1;

        &:last-child {
          margin-bottom: initial;
        }
      }

      @include maxW(1023px) {
        p {
          font-size: 1.4rem;
        }
      }
    }
  }

  //   ===== philosophy  =====
  .philosophy {
    &_thumb {
      margin-top: 90px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      @include maxW(1023px) {
        margin-top: 48px;
      }
    }
  }

  //   ====== sus ======
  .sus {
    &_group {
      margin-top: 75px;

      @include maxW(1023px) {
        margin-top: 48px;
      }
    }

    &_list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 45px;
      margin-bottom: 45px;

      &:last-child {
        margin-bottom: initial;
      }

      @include maxW(1023px) {
        display: block;
        margin-bottom: 0;
      }
    }

    &_items {
      h3 {
        font-family: $neue-fonts;
        font-size: 1.6rem;
        line-height: 1.2;
        font-weight: 400;
        text-transform: uppercase;
        padding-bottom: 15px;
        border-bottom: 1px solid #ccc;
      }

      p {
        margin-top: 28px;
        font-size: 1.4rem;
        line-height: 1.5;
        letter-spacing: -0.5px;
        font-feature-settings: "palt" 1;
      }

      @include maxW(1023px) {
        margin-bottom: 32px;

        h3 {
          font-size: 1.3rem;
          line-height: 1.2;
          padding-bottom: 6px;
        }

        p {
          margin-top: 16px;
          font-size: 1.3rem;
          line-height: 1.5;
        }
      }
    }
  }

  //   ====== company ======
  .company {
    &_group {
      margin-top: 65px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 45px;

      @include maxW(1023px) {
        display: block;
        margin-top: 40px;
      }
    }

    &_list {
      @include maxW(1023px) {
        margin-bottom: 35px;

        &:last-child {
          margin-bottom: initial;
        }
      }
    }

    &_items {
      display: grid;
      grid-template-columns: 20% auto;
      width: 100%;
      margin-bottom: 26px;

      &:last-child {
        margin-bottom: initial;
      }

      li {
        padding-left: 13px;
        text-indent: -18px;
        margin-left: 10px;

        &:before {
          content: "・";
          padding-right: 10px;
        }
      }

      p,
      li,
      h3 {
        font-size: 1.4rem;
        line-height: 1.47;
        letter-spacing: -0.5px;
        font-weight: 400;
        vertical-align: top;
        text-align: left;
        font-feature-settings: "palt" 1;
      }

      @include maxW(1023px) {
        display: block;
        margin-bottom: 26px;

        .title {
          margin-bottom: 10px;
        }

        li {
          padding-left: 11px;

          &:before {
            padding-right: 5px;
          }
        }

        p,
        li,
        h3 {
          font-size: 1.3rem;
          line-height: 1.44;
          letter-spacing: 0;
        }
      }
    }
  }
}
