/* Components
------------------------------------------------------------*/

.c-loading {
  &_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    height: var(--app-height);
    background-color: $main-bg-cl;
    overflow: hidden;
    z-index: 99999;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: opacity 1.2s ease-out, visibility 1.2s ease-out;

    &.hide {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
  }

  &_logo {
    @include maxW(1023px) {
      svg {
        width: 93.92px;
        height: auto;
        display: block;
      }
    }
  }

  &_content {
    opacity: 0;
    transition: opacity 1s ease-out;

    &.is-fade {
      opacity: 1;
    }
  }

  &_line {
    margin-top: 45px;
    width: 130.44px;
    height: 1px;
    background-color: rgba($color: #000, $alpha: 0.2);
    overflow: hidden;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: $black-cl;
      animation: loading 2s forwards;
      animation-delay: 1.5s;
    }

    @include maxW(1023px) {
      width: 93.92px;
      margin-top: 25px;
    }
  }
}

.c-bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  width: 100%;
  padding: 0 30px 25px;
  font-size: 1.4rem;
  line-height: 1.2;
  font-family: $neue-fonts;

  .right {
    margin-top: 1px;
    margin-left: auto;
  }

  .center {
    text-align: center;

    .tel {
      p,
      a {
        display: inline;
      }
    }
  }

  @include maxW(1023px) {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 20px;
    padding: 0 15px 15px;
    font-size: 1.2rem;

    .right {
      margin-left: initial;

      svg {
        width: auto;
        height: 20px;
        display: block;
      }
    }

    .center {
      text-align: left;
      margin-bottom: 15px;
    }
  }
}

/* ---------------------------------- hover --------------------------------- */

.c-hoverTxt {
  position: relative;
  overflow: hidden;
  height: 1em;
  display: inline-block;
  font-size: max(0.902vw, 14px);
  font-weight: 400;

  .txt {
    transform-origin: left bottom;
    will-change: auto;
    transition: transform 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }

  &:hover .txt:first-child {
    transform: translateY(-120%);
  }

  &:hover .txt {
    transform: translateY(-100%);
  }

  @include maxW(1023px) {
    &:hover .txt {
      transform: translateY(0) !important;
    }
  }
}

/* ----------------------------------- txt ---------------------------------- */

.c-tl {
  font-family: $neue-fonts;
  font-size: 1.6rem;
  line-height: 1.55;
  font-weight: 400;
  text-transform: uppercase;

  @include maxW(1023px) {
    font-size: 1.3rem;
    line-height: 1.52;
  }
}

.c-view {
  font-family: $neue-fonts;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.35;
  display: inline-block;
  overflow: hidden;
  position: relative;

  &:before {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    backface-visibility: hidden;
    background-color: currentColor;
  }

  &:hover {
    opacity: 1;
    &:before {
      animation: lineLink 0.5s;
    }
  }

  @include maxW(1023px) {
    font-size: 1.3rem;
  }
}

/* ------------------------------- order flow ------------------------------- */

.c-orderflow {
  &_container {
    margin-bottom: 58px;

    @include maxW(1023px) {
      margin-bottom: 45px;
    }
  }

  &_heading {
    padding-bottom: 23px;
    border-bottom: 1px solid #ccc;

    p {
      font-size: 1.4rem;
      line-height: 1.35;
      letter-spacing: -0.21px;
    }

    h2 {
      font-size: 6.6rem;
      line-height: 1.2;
      letter-spacing: -1.25px;
    }

    @include maxW(1023px) {
      padding-bottom: 12px;

      p {
        font-size: 1.2rem;
        letter-spacing: -0.48px;
      }

      h2 {
        font-size: 3.2rem;
        line-height: 1.38;
        letter-spacing: -0.64px;
      }
    }
  }

  &_title {
    display: flex;
    align-items: center;
    gap: 30px;
    width: fit-content;

    .arrow {
      transition: transform 0.2s ease-in-out;
    }

    &:hover {
      .arrow {
        transform: translateX(8px);
      }
    }

    @include maxW(1023px) {
      gap: 10px;

      svg {
        width: auto;
        height: 18px;
        display: block;
      }
    }
  }
}

/* --------------------------------- img pb --------------------------------- */

.c-img {
  display: block;
  z-index: 1;
  position: relative;
  height: 100%;
  padding-bottom: var(--padding-bottom);
  background-color: #ccc;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
