/* Header
------------------------------------------------------------*/

.c-header {
  &_container {
    font-family: $neue-fonts;
  }

  &_menu {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    height: var(--app-height);
    background-color: $main-bg-cl;
    z-index: 998;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease-in-out;

    display: flex;
    align-items: flex-end;

    &.is-open {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  }

  &_fixed {
    position: fixed;
    top: 25px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    z-index: 999;
    padding: 0 30px;
    font-size: 1.4rem;
    line-height: 1.3;

    @include maxW(1023px) {
      top: 14px;
      grid-template-columns: repeat(2, 1fr);
      padding: 0 15px;
      font-size: 1.3rem;
    }
  }

  &_left {
    a {
      width: fit-content;
    }
  }

  &_center {
    text-align: center;
    transition: opacity 0.3s ease-in-out;

    &.--hide {
      opacity: 0;
      pointer-events: none;
    }

    &.--show {
      opacity: 1 !important;
    }

    h1 {
      font-size: 1.4rem;
    }
  }

  &_right {
    margin-left: auto;

    .c-hoverTxt {
      font-size: 1.4rem;
    }

    p {
      cursor: pointer;
      text-transform: uppercase;
      width: fit-content;
    }

    @include maxW(1023px) {
      .c-hoverTxt {
        font-size: 1.3rem;
      }
    }
  }

  &_top {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 0 30px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

    a {
      font-weight: 500;
      font-size: 5rem;
      letter-spacing: -1px;
      line-height: 0;
      text-transform: uppercase;

      &:first-child,
      &:nth-child(4) {
        width: fit-content;
      }

      &:nth-child(2),
      &:nth-child(5) {
        text-align: center;
      }

      &:nth-child(3),
      &:last-child {
        margin-left: auto;
      }
    }

    @include maxW(1023px) {
      padding: 0 15px;
      grid-template-columns: repeat(2, 1fr);

      a {
        font-size: 6.76vw;
        letter-spacing: -0.56px;

        &:nth-child(odd) {
          text-align: left;
          margin: 0;
        }

        &:nth-child(even) {
          text-align: right;
          margin-left: auto;
        }
      }
    }
  }

  &_link {
    &.other {
      opacity: 0.1;
      transition: opacity 0.3s ease-in-out;
    }
  }
}
